image==1.5.33
langid==1.1.6
matplotlib==3.5.2
mysqlclient==2.1.1
nltk==3.7
numpy==1.23.1
pandas==1.4.3
patsy==0.5.2
python-dateutil==2.8.2
rpy2==3.5.2
scikit-learn==1.1.1
scipy==1.8.1
SQLAlchemy==1.4.39
statsmodels==0.13.2
wordcloud==1.8.2.2
